//fonts
/* raleway-300 - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/raleway-v19-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-regular - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v19-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-500 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/raleway-v19-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-600 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/raleway-v19-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin_cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v19-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
//Gilroy bold
@font-face { 
  font-family: "GilroyBold";
  src: url("../fonts/GilroyBold/GilroyBold.eot");
  src: url("../fonts/GilroyBold/GilroyBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GilroyBold/GilroyBold.woff") format("woff"),
  url('../fonts/GilroyBold.woff2') format('woff2'),
  url("../fonts/GilroyBold/GilroyBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* montserrat-300 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  .mob-wrapper{
    display: none;
  }
@media(max-width:768px){
  .mob-wrapper{
    display: block;
    .banner{
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
    width: 100%;

    header{
        height: 54px;
        width: 100%;
        .header-content{
            display: flex;
            flex-direction: row;
            padding-top: 27px;
            padding-left: 14px;
            padding-right: 14px;
        }
        .left-block{
            width: 50%;
            display: flex;
            .lang-panel{
                margin-left: 16px;
                margin-top: 15px;
                .lang{
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 100%;
                    /* identical to box height, or 18px */


                    color: #FFFFFF;
                }
            }
        }
        .right-block{
            width: 50%;
            text-align: right;
            position: relative;
            img{
                vertical-align: bottom;
            }
        }
    }

    .main-title{
      margin-top: 157px;
      .banner-logo{
        width: 295px;
        margin: 0 auto;
        text-align: right;
      }
      .title{
        margin-top: 17px;
        font-family: GilroyBold;
        font-style: normal;
        font-weight: bold;
        font-size: 96px;
        line-height: 83px;
        /* identical to box height */
  
        text-align: center;
        letter-spacing: -0.07em;
  
        color: #FFFFFF;
      }

      .subtitle{
        width: 278px;
        margin: 0 auto;
        margin-top: 34px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        /* or 18px */

        text-align: center;

        color: #FFFFFF;
      }
      
    }
    }
    .sunrise{
      position: relative;
      background: url(../img/back1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 685px;
      margin-top: -4px;
      .sunrise-title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 74.5%;
        /* or 31px */


        color: #FFFFFF;

        padding-top: 81px;
        margin-bottom: 19px;
        margin-left: 15px;
      }

      .sunrise-subtitle{
        max-width: 261px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 118.5%;
        /* or 19px */


        color: #FFFFFF;

        margin-left: 15px;
        margin-bottom: 35px;
      }

      .sunrise-des{
        max-width: 261px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 150%;
        /* or 16px */


        color: #FFFFFF;

        margin-left: 15px;
      }

        img{
          position: absolute;
          right: 0;
          bottom: 0;
        }
    }
  }
}
  



    